html {
  text-align: center;
  background:#ffe6f3;
}

img {
  margin-right: 150px;
  margin-left: 150px;
  padding: 20px;
  border-radius: 70px;
  width: 50%;
}

.title {
  background-image: url(http://i.imgur.com/SzOPmOv.gif);
  color: #ffe6f3;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 130px;
  border-radius: 10px 10px 0px 0px;


}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 30px;
}

.info {
  font-family: 'Raleway', sans-serif;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
  font-size: 130%;
}

.nav {
  overflow: hidden;
  background-color: #333;
  list-style:none;
  font-family: 'Roboto Slab', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  padding-left: 0;

}

.nav a {
  color: #862d59;
  font-size: 200%;
}

.nav ul {
  list-style-type: none;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: pink;
}

.code {
  text-align: left;
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 981px) {

  .nav li {
    display: inline-block;
  }

  .nav a {
    font-size: 130%;
  }

  .info {
    margin-right: 80px;
    margin-left: 80px;
    font-size: 130%;
  }

}
