html {
  text-align: center;
  background:#ffe6f3;
}

body, img {
  margin-right: 150px;
  margin-left: 150px;
  padding: 50px;
  width: 25%;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style:none;
  font-family: 'Roboto Slab', serif;
}

.nav a {
  color: #862d59;
  font-size: 20.8px;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: pink;
}
